<%- include('../partials/top') %>
    <h1>Login</h1>

    <form method="post" action="/login">
        Username: <input name="username" type="text" /><br>
        Password: <input name="password" type="password"><br>
        <button type="submit">Submit</button>
    </form>

<%- include('../partials/bottom') %>